# Ignore everything
*

# Except files in ~
!.gitignore
!.gnome-settings-backup.conf
!.tmux.conf
!.zshrc
!.DOTFILES.md

# Config folders and contents
!.config/hypr/
!.config/hypr/**

!.config/kitty
!.config/kitty/**

!.config/nvim/
!.config/nvim/**

!.config/waybar/
!.config/waybar/**

!.config/wofi/
!.config/wofi/**

!.config/btop/
!.config/btop/**



.config/nvim/lazy-lock.json
