/* Gruvbox colors */
@define-color bg      #282828;
@define-color fg      #ebdbb2;
@define-color gray    #a89984;
@define-color red     #fb4934;
@define-color green   #b8bb26;
@define-color yellow  #fabd2f;
@define-color blue    #83a598;
@define-color purple  #d3869b;
@define-color aqua    #8ec07c;
@define-color orange  #fe8019;

* {
    border: none;
    font-family: "ProFont IIx Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

tooltip {
    background: @bg;
    color: @fg;
    border: 1px solid @gray;
}
#workspaces {
    background-color: @bg;
}

#workspaces button {
    padding: 0 10px;
    color: @gray;
    background: transparent;
    border: none;
}

#workspaces button.active {
    background-color: @yellow;
    color: @bg;
}

#workspaces button.focused {
    background-color: @aqua;
    color: @bg;
}

#workspaces button.visible {
    background-color: @blue;
    color: @bg;
}

#workspaces button.urgent {
    background-color: @red;
    color: @bg;
}

#workspaces button:hover {
    background-color: @gray;
    color: @bg;
}

#sway-window {
    padding: 0 10px;
    color: @yellow;
}

#clock.time {
    padding: 0 10px;
    color: @fg;
}

#clock.date {
    padding: 0 10px;
    color: @green;
}

#network {
    padding: 0 10px;
    color: @aqua;
}

#cpu {
    padding: 0 10px;
    color: @red;
}

#memory {
    padding: 0 10px;
    color: @purple;
}

#temperature {
    padding: 0 10px;
    color: @orange;
}

#pulseaudio {
    padding: 0 10px;
    color: @blue;
}

#tray {
    padding: 0 10px;
}

